@font-face {
    font-family: 'Joey';
    src: url(../fonts/FSJoeyWeb-Regular.woff) format('woff');
    font-weight: 400;
}

@font-face {
    font-family: 'Joey';
    src: url(../fonts/FSJoeyWeb-Bold.woff) format('woff');
    font-weight: 700;
}